@charset "UTF-8";
@import "common/var.scss";
@import "common/mixins.scss";
@include b(button) {
    min-width: 60px;
    border-radius: 4px;
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
    &:active,
    &:focus {
        outline: none;
    }
    &-default {
        color: #333;
        background-color: $--color-white;
    
        &:active,
        &:focus,
        &:hover {
          background-color: rgba($--color-primary, 0.3);
        }
    }
      &-primary {
        color: #fff;
        background-color: $--color-primary;
    
        &:active,
        &:focus,
        &:hover {
          background-color: mix($--color-primary, #ccc);
        }
      }
    
      &-info {
        color: #fff;
        background-color: $--color-info;
    
        &:active,
        &:focus,
        &:hover {
          background-color: mix($--color-info, #ccc);
        }
      }
       &-success {
        color: #fff;
        background-color: $--color-success;
    
        &:active,
        &:focus,
        &:hover {
          background-color: mix($--color-success, #ccc);
        }
      }
      &-small {
        height: 30px;
        font-size: 16px;
      }
      &-default {
        height: 36px;
        font-size: 14px;
      }
}
