@import 'common/var.scss';
@import 'common/mixins.scss';

@include b(notice) {
    position: fixed;
    right: 20px;
    top: 60px;
    z-index: 1000;
    &_main {
        min-width: 100px;
        padding: 10px 20px;
        box-shadow: 0 0 4px #aaa;
        margin-bottom: 10px;
        border-radius: 14px;
    }

    &_title {
        font-size: 16px;
    }
    &_content {
        font-size: 14px;
        color: turquoise;
    }
}